.emailContainer{
    margin: 25px 25px 25px 360px;

}
.detail {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 22px 0 22px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:6px;
    width: 100%;
}

.detail>p {
    font-size: 28px;
    font-weight: 600;
}

.emialtemplate{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 22px 20px 22px 20px;
    border-radius: 8px;
    width: 100%;
}
.emialtemplate>div{
    display: flex;
    gap:20px
}
.emialtemplate>div:nth-child(1){
    margin-bottom: 30px;
}
.emialtemplate>div>label{
    width: clamp(100px, 100%, 360px);
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.emialtemplate>div>input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border: 2px solid #189ce4;
    border-radius: 6px;
}
.saveBtn{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 130px;
    background-color: #189ce4;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.2px;
}