.clientContainer{
    margin: 25px 25px 25px 360px;
}
.detail {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 22px 0 22px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:6px;
    width: 100%;
}

.detail>p {
    font-size: 28px;
    font-weight: 600;
}
.table:nth-child(odd){
background-color: rgb(248, 248, 248);
}

.addButton{
    background-color: transparent;
    border: 2px solid #189ce4;
    border-radius: 6px;
    font-size: 16px;
    padding: 4px 0px;
    width: 80px;
    color: #189ce4;
    position: relative;
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
}
.addBtnIcon{
    font-size: 22px;
    position: absolute;
    right: 10px;
}
.invoiceBtn{
    background-color: #189ce4;
    border: none;
    outline: none;
    padding: 5px 12px;
    font-size: 15px;
font-weight: 500;
color: white;
border-radius: 6px;
text-decoration: none;
cursor: pointer;
}
.heading{
    font-size: 22px;
    font-weight: 600;
}
.selectButton{
    background-color: white;
    border: none;
    outline: none;
    padding: 10px 40px 10px 15px;
    margin: 20px 0px;
    display: block;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
font-weight: 400;
position: relative;
border-radius: 8px;
color: #7a7a7a;

}
.selectIcon{
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}
















